<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    <!--use format_plural to pluralize 'point' based off vote_count-->
    {{vote_count}} {{format_plural 'point' vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <!--use format_plural to pluralize 'comment' based off comment.length-->
    <a href="/post/{{id}}">{{format_plural 'comment' comments.length}}</a>
  </div>
</article>
